#theApp {
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-areas: "tekst foto";
  margin-left: 10px;
}

#theApp-tekst {
  grid-area: tekst;
}

#theApp-img {
  grid-area: foto;
}

#titel {
  color: black;
  font-size: 40px;
}

#subtitel{
  color: green;
  font-size: 40px;
}

#theApp-img{
  height: 420px;
}

#theApp-tekst>button{
  margin-top: 30px;
  padding: 10px;
  color: #000;
  background-color: #f1f1f1;
  font-size: 20px;
}

.w3-container>i {
  font-size: 20px;
}

.w3-button>.fa {
  font-size: 20px;
}

#icon {
  margin-top: 50px;
}

#icon>.fa {
  font-size: 30px;
}

.fa-android {
  color: green;
}

.fa-windows{
  color: #2196F3;
}




